body {
  /* font-family: Arial, sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003366;
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

small {
  font-size: 12px;
  color: #777;
}

/* /////////////////////////////////////////////// */

body::-webkit-scrollbar:horizontal {
  display: none;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.topic-container::-webkit-scrollbar {
  display: none;
  width: 5px;
  background-color: #f0f0f0;
}

.topic-container::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.topic-container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* style main content ////////////////////////////////////////////////*/

main {
  min-height: 60vh;
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 10px;
}

.main-content {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 15px;
  grid-template-areas:
    "first second"
    "third third"
  ;
}

.posts-content-section {
  grid-area: first;
  margin: 0;
  min-width: 300px;
  padding-right: 15px;
  border-right: 2px solid #ddd;
}

.list-main-section {
  width: 100%;
  grid-area: second;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-sticky {
  width: 100%;
  max-height: fit-content;
  position: sticky;
  top: 60px;
}

.topic-section {
  grid-area: third;
  border-top: 2px solid #ddd;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 15px;
  overflow: hidden;
}

/* style posts-content-section //////////////////////*/

.posts-title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.posts-title .topic-title {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  background-color: red;
  padding: 3px 5px;
  border-radius: 4px;
}

#posts-title h1 {
  margin: 15px 0;
  text-align: center;
  font-weight: 800;
}

.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  color: #003366;
  margin-bottom: 15px;
}

.post-body p {
  line-height: 26px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

figure {
  padding: 0;
  margin: 10px 0;
}

figcaption {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.post-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* /////////////////////////////////////// */

.cover-title {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1f8bc9;
}

.cover-title h2 {
  background-color: #003366;
  color: white;
  height: 40px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 10px;
  margin: 0;
}

.cover-left-title {
  width: 30px;
  height: 40px;
  margin-left: -10px;
  background-color: #003366;
  clip-path: polygon(0% 0%, 46% 0, 100% 50%, 46% 100%, 0% 100%);
}

/* //////////////////////////////// */

.posts-list-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  margin-top: 15px;
}

.posts-list-item {
  width: 100%;
  aspect-ratio: 320 / 107;
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.posts-list-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.posts-list-img {
  width: 140px;
  height: 105px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 4px;
}

.posts-list-img img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 3;
  display: block;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.posts-list-img img:hover {
  transform: scale(1.05);
}

.posts-list-text {
  width: 100%;
  flex: 1;
  padding: 3px;
  box-sizing: border-box;
}

.posts-list-text h4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 0;
  color: #003366;
  overflow: hidden;
}

.posts-list-text h4:hover {
  text-decoration: underline;
}

.posts-list-text small {
  font-size: 12px;
  display: block;
}

/* ///////////////////////////////////////// */

.topic-container {
  grid-area: third;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.topic-list-item {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

.topic-list-item:first-child {
  border-left: #fff;
  border-right: #fff;
}

.topic-list-item:last-child {
  border-left: #fff;
  border-right: #fff;
}

.topic-list-img {
  position: relative;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
}

.topic-list-img img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
}

.topic-list-img img:hover {
  transform: scale(1.05);
}

.topic-list-text {
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 0;
}

.topic-list-text h4 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  color: #003366;
  margin: 0;
  box-sizing: border-box;
}

.topic-list-text h4:hover {
  text-decoration: underline;
}

.topic-list-text small {
  display: block;
  margin: 5px 0;
}

.topic-list-img h5 {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  padding: 3px 5px;
  border-radius: 4px;
  margin: 0;
  background-color: red;
}

/* Responsive */
@media (max-width: 765px) {

  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "second"
      "third"
    ;
    gap: 20px;
  }

  #post-section {
    border: none;
    padding: 0;
  }

  .post-body p {
    font-weight: 500;
  }

  .posts-list-section {
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
  }

  .posts-list-item {
    width: 100%;
    height: 120px;
    display: flex;
    gap: 5px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .posts-list-img {
    width: 160px;
    height: 120px;
  }

  .posts-list-text h4 {
    font-size: 18px;
  }

  .topic-section {
    border-top: none;
    padding-top: 0;
    gap: 20px;
  }

  .topic-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 0;
    border-top: none;
    padding-bottom: 0;
    border-bottom: none;
    margin: 0;
  }

  .topic-list-item {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    gap: 5px;
    padding: 0;
  }

  .topic-list-img {
    width: 160px;
    height: 120px;
  }

  .topic-list-text {
    padding: 3px;
    display: flex;
    flex-direction: column;
  }

  .topic-list-text h4 {
    order: 2;
    -webkit-line-clamp: 4;
  }

  .topic-list-text small {
    order: 1;
    margin: 0;
  }

}

.hide {
  display: none;
}